{% extends "base.html" %}

{% block inner_content %}
<h2 class="text-center font-weight-bold mb-4">Orders today</h2>
<div class="d-block card-columns">
    {% for order in order %}
    <div class="card card-body rounded-0 border border-dark">
        <h4 class="text-center font-weight-bold">{{ order['user_name'] }}</h4>
        <ul>
            {% for item in item if item['order'] == order['id'] %}
            <li>{{ item['quantity'] }} {{ item['bread_name'] }}</li>
            {% endfor %}
        </ul>
        <span class="d-block">Total: &#8369; <span class="font-weight-bold">{{ order['total'] }}</span></span>
        <small class="d-block">Status: <span class="font-weight-bold">{{ order['status'] }}</span></small>
        <small class="d-block">Date: <span class="font-weight-bold">{{ order['date'].strftime('%d %B %Y') }}</span></small>
    </div>
    {% endfor %}
</div>
{% endblock %}