{% extends "base.html" %}

{% block inner_content %}
<h2 class="text-center font-weight-bold mb-4">Orders today</h2>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" class="d-none d-md-table-cell">#</th>
                <th scope="col" class="d-none d-md-table-cell text-center">Quantity</th>
                <th scope="col" class="d-md-none d-table-cell text-center">Qty</th>
                <th scope="col" class="text-center">Bread</th>
                <th scope="col" class="d-none d-md-table-cell text-center">Price</th>
                <th scope="col" class="text-center">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bread %}
            <tr>
                <th class="d-none d-md-table-cell">{{ loop.index }}</th>
                <td class="text-center">{{ i['count'] }}</td>
                <td class="text-center">{{ i['name'] }}</td>
                <td class="d-none d-md-table-cell text-center">&#8369; {{ i['price'] }}</td>
                <td class="text-center">&#8369; {{ i['count'] * i['price'] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="4" class="d-none d-md-table-cell">Total</th>
                <th colspan="2" class="d-md-none d-table-cell">Total</th>
                <td class="text-center">&#8369; {{ total }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}