{% extends "base.html" %}

{% block content %}
<div class="container py-3">
    <h2 class="text-center font-weight-bold mb-4">Orders today</h2>
    <div class="card-columns w-100">
        {% for order in order %}
        <div class="card rounded-0">
            <div class="card-body">
                <h4>{{ order['user']['first_name'] }} {{ order['user']['last_name'] }}</h4>
                <ul>
                    {% for item in order_list if item['order'] == order %}
                    <li>{{ item['quantity'] }} {{ item['bread']['name'] }}</li>
                    {% endfor %}
                </ul>
                <p>Total: &#8369; <span class="font-weight-bold">{{ order['total'] }}</span></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}